<style>
  table, th, td
  {
    border-collapse:collapse;
    border: 1px solid black;
    width:70%;
    text-align:right;
  }
  @media print {
    .second {
      display: none;
    }
  }
</style>
<%= stylesheet_link_tag "application" %>
<div class="container">
  <div class="header">
  </div>
  <div class="row">
    <div class="first">
      <div class="col-xs-5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Receipt No. <%= @receipt.number %></h4><h4> Date <%= @receipt.date.strftime("%d/%m/%Y") %></h4>
          </div>
          <div class="panel-body">
            <p>
              Student Name: <%= @receipt.student.full_name %> <br>
              Standard: <%= @receipt.student.standard.name %><br>
              Div: <%= @receipt.student.division.name %><br>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="second">
      <div class="col-xs-5 col-xs-offset-2 text-right">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Payment Method</h4>
          </div>
          <div class="panel-body">
            <% if @receipt.cheque_number.present? && @receipt.bank_name.present? %>
              <p>
                Cheque No.: <%= @receipt.cheque_number %> <br>
                Bank Name: <%= @receipt.bank_name %> <br>
              </p>
            <% else %>
              Cash
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="update_form">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default" style="">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th width="50%" style="text-align: left;">Fees Head</th>
                <th width="50%" style="text-align: right;">Amount</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <td style="text-align: center">Total</td>
                <td style="text-align: right"><%= number_with_precision(@receipt.total, precision: 0, separator: ',', delimiter: '.') %></td>
              </tr>
            </tfoot>
            <%= render partial: "receipts_fees_head", collection: @receipt.receipts_fees_heads %>
          </table>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="col-sm-6">
          <p>Indian Rupees <%= number_to_human(@receipt.total, precision: 2) %> Only</p>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer" style="text-align: center; margin-top: 50px;">
    <div class="container">
      <hr style="width: 30%;">
      <p class="text-muted">Signature</p>
    </div>
  </footer>
</div>
