<%= stylesheet_link_tag "application" %>
<div class="container">
  <div class="page-header">
    <h1 style="text-align: center"><%= @receipt.student.full_name %></h1>
  </div>
  <p class="lead" style="text-align: center">Class: <%= @receipt.student.standard.name %> Division: <%= @receipt.student.division.name %></p>
  <div class="panel panel-default">
    <button type="submit" class="btn btn-default" disabled>Receipt No. <%= @receipt.number %></button>

    <div class="update_form">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default" style="width: 95%; margin: 20px auto;">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th width="50%" style="text-align: center;">Fees</th>
                  <th width="50%" style="text-align: center;">Actual</th>
                </tr>
              </thead>
              <%= render partial: "fees_head", collection: @receipt.fees_heads %>
            </table>
          </div>
        </div>
        <div class="col-sm-12">
          <table class="table" style="width: 95%; margin: 50px auto">
            <thead>
              <tr>
                <th width="25%" style="text-align: center;">Cash</th>
                <% if @receipt.cheque_number.present? && @receipt.bank_name.present? %>
                  <th width="25%" style="text-align: center;">Cheque #</th>
                  <th width="25%" style="text-align: center;">Bank Name</th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="text-align: center"><%= @receipt.total %></td>
                <% if @receipt.cheque_number.present? && @receipt.bank_name.present? %>
                  <td style="text-align: center"><%= @receipt.cheque_number %></td>
                  <td style="text-align: center"><%= @receipt.bank_name %></td>
                <% end %>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <footer class="footer" style="text-align: center; margin-top: 50px;">
      <div class="container">
        <p class="text-muted">Created at <%= @receipt.date.strftime("%d/%m/%Y") %></p>
      </div>
    </footer>
  </div>
</div>
