<div class="ui form segment">
  <div class="modal-content">
    <div>
      <% unless params[:internal] %>
        <form>
          <div class="ext-account-buttons">
            <%= render 'users/registrations/social' %>
          </div>
          <div class="action">
            <div>
              <div>
                <a href="<%= new_user_registration_path(:internal => true) %>" class="external fancybox.ajax">Sign up without any external accounts</a>.
              </div>
            </div>
          </div>
        </form>
      <% else %>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), remote: true) do |f| %>
          <div class="field">
            <label>Full Name</label>
            <%= f.text_field :name, placeholder: "Full Name" %>
          </div>
          <div class="field">
            <label>Email</label>
            <%= f.text_field :email, placeholder: "Email" %>
          </div>
          <div class="field">
            <label>Password</label>
            <%= f.password_field :password, placeholder: "Password"%>
          </div>
          <div class="inline field">
            <div class="ui checkbox">
              <input type="checkbox" id="terms">
              <label for="terms"></label>
            </div>
            <label>I agree to the terms and conditions</label>
          </div>

          <div>
            <%= f.submit "Sign up", class: "ui blue submit button" %>
            <span>Already have an account? <a href="<%= new_user_session_path %>" class="sign-in fancybox.ajax">Sign in</a></span>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

