<%= render partial: 'layouts/errors', :locals => { :object => @student} %>

<div class="field">
  <%= su.text_field :entry_no, :placeholder => "Entry No." %>
</div>

<div class="field">
  <%= su.text_field :group_no, :placeholder => "Group No." %>
</div>

<div class="field">
  <%= su.text_field :admission_date, :placeholder => "Date of Admision" %>
</div>

<div class="field">
  <%= su.label :std_of_admission %>
  <%= su.select :std, [["Admission1", Student::ADMISSION[:admission1]], ["Admission2", Student::ADMISSION[:admission2]]], :include_blank => true %>
</div>

<div class="field">
  <%= su.text_field :academic_year, :placeholder => "Academic Year" %>
</div>

<div class="field">
  <%= su.text_field :first_name, :placeholder => "First Name" %>
</div>

<div class="field">
  <%= su.text_field :father_name, :placeholder => "Father's Name" %>
</div>

<div class="field">
  <%= su.text_field :father_name, :placeholder => "Mother's Name" %>
</div>

<div class="field">
  <%= su.text_field :last_name, :placeholder => "Last Name" %>
</div>

<div class="field">
  <%= su.label :place_of_birth %>
  <%= su.country_select :birth_place, ["United States"] %>
</div>

<div class="field">
  <%= su.label :religion %>
  <%= su.select :religion, [["RELIGION1", Student::RELIGION[:religion1]], ["RELIGION2", Student::RELIGION[:religion2]]], :include_blank => true %>
</div>

<div class="field">
  <%= su.label :caste %>
  <%= su.select :caste, [["CASTE1", Student::CASTE[:caste1]], ["CASTE2", Student::CASTE[:caste2]]], :include_blank => true %>
</div>

<div class="field">
  <%= su.label :nationality %>
  <%= su.select :nationality, [["NATIONALITY1", Student::NATIONALITY[:nationaity1]], ["NATIONALITY2", Student::NATIONALITY[:nationality2]]], :include_blank => true %>
</div>

<div class="field">
  <%= su.label :standard %>
  <%= su.select :standard, [["STANDARD1", Student::STANDARD[:standard1]], ["STANDARD2", Student::STANDARD[:standard2]]], :include_blank => true %>
</div>

<div class="field">
  <%= su.label :division %>
  <%= su.select :division, [["DIVISION1", Student::DIVISION[:division1]], ["DIVISION2", Student::DIVISION[:division2]]], :include_blank => true %>
</div>

<div class="field">
  <%= su.label :transport %>
  <%= su.select :transport, [["Car", Student::TRANSPORT[:car]], ["Bus", Student::TRANSPORT[:bus]]], :include_blank => true %>
</div>

<div class="field">
  <%= su.label :finance_mode %>
  <%= su.select :finance_mode, [["FINANCE1", Student::FINANCE_MODE[:finance1]], ["FINANCE2", Student::FINANCE_MODE[:finance2]]], :include_blank => true %>
</div>

<div class="field">
  <%= su.text_field :remarks, :placeholder => "Remarks" %>
</div>

<div class="field">
  <%= su.text_field :last_school, :placeholder => "Last School" %>
</div>

<div class="ui buttons">
  <%= link_to "Cancel", :back, :class => "ui button" %>
  <div class="or"></div>
  <%= su.submit "Save", :class => "ui positive button" %>
</div>
