<%= render partial: 'layouts/errors', :locals => { :object => @employee} %>
<div class="col-sm-12">
  <div class="form-group">
    <%= e.label :entry_no, :class => "col-sm-2 control-label" %>
    <div class="col-sm-3">
      <%= e.text_field :entry_no, :class => "form-control" %>
    </div>
    <%= e.label :address, :class => "col-sm-2 control-label" %>
    <div class="col-sm-3">
      <%= e.text_area :address, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= e.label :first_name, :class => "col-sm-2 control-label" %>
    <div class="col-sm-3">
      <%= e.text_field :first_name, :class => "form-control" %>
    </div>
    <%= e.label :contact_no, :class => "col-sm-2 control-label" %>
    <div class="col-sm-3">
      <%= e.text_field :contact_no, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= e.label :middle_name, :class => "col-sm-2 control-label" %>
    <div class="col-sm-3">
      <%= e.text_field :middle_name, :class => "form-control" %>
    </div>
    <%= e.label :qualification, :class => "col-sm-2 control-label" %>
    <div class="col-sm-3">
      <%= e.text_field :qualification, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= e.label :last_name, :class => "col-sm-2 control-label" %>
    <div class="col-sm-3">
      <%= e.text_field :last_name, :class => "form-control" %>
    </div>
    <label class="col-sm-2 control-label">Section</label>
    <div class="col-sm-3">
      <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <%= e.label :datetime, :class => "col-sm-2 control-label" %>
    <div class="col-sm-3">
      <%= e.text_field :last_name, :class => "form-control" %>
    </div>
    <label class="col-sm-2 control-label">Pay Band</label>
    <div class="col-sm-3">
      <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
  </div>

  <div class="form-group radio_button">
    <label class="radio-inline">
      <%= e.radio_button :gender, :collection => [["Male", 'male'], ["Female", 'female']] %>Male
    </label>
    <label class="radio-inline">
      <%= e.radio_button :gender, :collection => ["Female", 'female'] %>Female
    </label>
  </div>
  <div class="form-group">
    <%= e.label :marital_status, :class => "col-sm-2 control-label" %>
    <div class="col-sm-3">
      <%= e.select(:status, [["Married", Employee::MARRIED], ["Not married", Employee::NOT_MARRIED]], {:include_blank => true}, { :class => "form-control" }) %>
    </div>
    <%= e.label :salary, :class => "col-sm-2 control-label"  %>
    <div class="col-sm-3">
      <%= e.text_field :salary, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Year of Joining</label>
    <div class="col-sm-3">
      <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Paid type</label>
    <div class="col-sm-3">
      <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
  </div>
</div>
<div class="ui buttons">
  <%= e.submit "Save and Continue", :class => "btn btn-success" %>
</div>
