<form class="ui fluid form">
  <div class="field">
    <%= e.text_field :entry_no %>
  </div>
  <div class="field">
    <%= e.text_field :first_name, :placeholder => "First Name" %>
  </div>
  <div class="field">
    <%= e.text_field :middle_name, :placeholder => "Father's/Spouse's name" %>
  </div>
  <div class="field">
    <%= e.text_field :last_name, :placeholder => "Last Name" %>
  </div>
  <div class="field">
    <%= e.text_field :job_title, :placeholder => "Job Title" %>
  </div>
  <div class="field">
    <%= e.input :gender, :as => :radio, :label => "Gender", :collection => [["Male", 'male'], ["Female", 'female']] %>
  </div>
  <div class="field">
    <%= e.text_area :address, :placeholder => "Address" %>
  </div>
  <div class="field">
    <%= e.text_field :qualification, :placeholder => "Qualification" %>
  </div>
  <div class="field">
    <%= e.text_field :salary, :placeholder => "Salary" %>
  </div>
  <div class="field">
    <%= e.text_field :contact_no, :placeholder => "Contact #" %>
  </div>
  <div class="field">
    <%= e.label :marital_status %>
    <%= select(:employee, :status, [['Married', 1], ['Not married', 2]]) %>
  </div>
  <div class="ui buttons">
  	<%= link_to "Cancel", :back, :class => "ui button" %>
	  <div class="or"></div>
	  <%= e.submit "Save", :class => "ui positive button" %>
	</div>
</form>