<div class="column table" style='position: relative; '>
	<table class="ui celled table">
	  <thead>
	    <tr>
	      <th>First Name</th>
	      <th>Last Name</th>
	      <th>Registration Date</th>
	      <th>Job title</th>
	      <th>Action</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<%- @employees.each do |employee| %>
	    <tr>
		      <td><%= employee.first_name %></td>
		      <td><%= employee.last_name %></td>
		      <td><%= employee.created_at.strftime("%d/%m/%Y") %></td>
		      <td><%= employee.job_title %></td>
		      <td><%= link_to "Edit", edit_admin_employee_path(employee), :class => "mini ui green button" %>
		      	<%= link_to "Destroy", [:admin, employee], :class => "mini ui red button", :method => :delete %>
		      </td>
	    </tr>
	    <% end %>
	  </tbody>
	  <tfoot class="full-width">
	    <tr>
	      <th></th>
	      <th colspan="4">
      		<%= link_to "Add User", new_admin_employee_path, :class => "positive ui button" %>
	      </th>
	    </tr>
	  </tfoot>
	</table>
</div>