<div>
  <%= su.label :first_name %>
  <%= su.text_field :first_name %>
</div>

<div>
  <%= su.label :middle_name %>
  <%= su.text_field :middle_name %>
</div>

<div>
  <%= su.label :last_name %>
  <%= su.text_field :last_name %>
</div>

<div>
  <%= su.label :email %>
  <%= su.text_field :email %>
</div>

<%= su.submit "Save" %>