<div class="left menu">
  <div class="green item <%= active_menu_item("home") %>">
    <a href="<%= root_path %>"><i class="home icon"></i> Home</a>
  </div>
  <div class="green item <%= active_menu_item("projects") %>">
    <a href="<%= projects_path %>"><i class="leaf icon"></i> Projects</a>
  </div>
  <div class="red item <%= active_menu_item("pages") %>">
    <a href="<%= page_path('team') %>"><i class="camera icon"></i> Team</a>
  </div>
</div>
